body {
	font-size: 14px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	background-color: #f9f9f9;
	margin:0;
	text-align: center;

}

#headerContainer {
	background-color: #8dbae6;
	height:200px;
	width:100%;
	line-height: 100px;
}

#headerNav {
	min-width:600px;
	max-width: 1240px;
	
	padding-top:10px;
	
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#contentArea {
	min-height: 200px;
	color: #2d507c;
	overflow: auto;
	width: 100%;
}

#wrapper {
	min-width:600px;
	max-width: 1240px;
	
	margin-left: auto;
	margin-right: auto;
	
	padding:10px;
		
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:-90px;
	

	box-shadow: 0px 0px 3px #424242;
	-moz-box-shadow: 0px 0px 3px #424242;
	-webkit-box-shadow: 0px 0px 3px #424242;	
	
	background-color: #E4E6E8;
	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D3D4D6), to(#E4E6E8), color-stop(.3,#E4E6E8));

}

#footer {
	margin-top: 10px;
	font-size: 10pt;
}

#headerNav a, #headerNav div {
	float:left;
	display: block;
	text-align: center;
	line-height: 70px;
}


.navbutton {
	height: 70px;
	width:70px;
	background: #7baad7;
	margin-left:20px;
	display:block;
	
	line-height: 170px !important;
	text-decoration: none;
	color: white;
	font-weight: bold;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	box-shadow:inset 0 0 10px #567ca8;
	-moz-box-shadow:inset 0 0 10px #567ca8;
	-webkit-box-shadow:inset 0 0 10px #567ca8;
}

.navbutton:hover, .navbutton.selected {
	background: #598bbb;

	box-shadow:inset 0 0 10px #3a6187;
	-moz-box-shadow:inset 0 0 10px #3a6187;
	-webkit-box-shadow:inset 0 0 10px #3a6187;	
}

.ralign {
	float: right !important;
}

.messageBox {
	background-color: #faffd9;
	padding:10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.warningBox {
	background-color: #ff7068;
	padding:10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
}

.navbutton.logoutnav {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(../images/key.png) !important;	
}

.navbutton.homenav {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(../images/house.png) !important;	
}

.navbutton.comparenav {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(../images/arrows.png) !important;	
}

.navbutton.reviewnav {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(../images/reload.png) !important;	
}

#compareContainer {
	border-top: 2px solid #babbbc;
	margin-left:10px;
	margin-right:10px;
	clear:both;
}

#compareContainer.reviewCompare .smallCompare {
	cursor:default;
}

.vidContainer {
	float:left;
	width:50%;
}


.vidContainer h2 {
	margin-top:10px;
}

.vidControls {
	text-align: center;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:15%;
	width:516px;
}

.vidContainer .metadata {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

.metadata table {

}

.metadata table td {
	padding:5px;
}

.vidControls button {
	height: 50px;
	width: 50px;
}

.levelBar, .displayBar {
	color: #232323;

	width:390px;
	background-color: #c9c9c9;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;

	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright:15px;
	-moz-border-radius-bottomleft:15px;
	-moz-border-radius-bottomright:15px;
	-webkit-border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-webkit-border-bottom-right-radius:15px;

	height:30px;
	clear:left;
}

.displayBar {
	width:500px;
}


.levelBar a {
	background-color: #c9c9c9;
	float:left;
	width:140px;
	height:30px;
	line-height: 30px;
	text-align: center;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright:15px;
	-moz-border-radius-bottomleft:15px;
	-moz-border-radius-bottomright:15px;
	-webkit-border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-webkit-border-bottom-right-radius:15px;
		
	position:relative;
	z-index:1;
	background-color: #c9c9c9;
	padding-left: 6px;
	padding-right:5px;
	border-bottom-left-radius: 0px; 
	border-top-left-radius: 0px;
}

.levelBar.noEdit a {
	cursor: default;
}

.levelBar.noEdit a.levelTip {
	cursor:help;
}

.levelBar a#level1, .displayBar div#level1 {
	padding-left: 0px;
	padding-right:0px;
	border-bottom-left-radius: 15px; 
	border-top-left-radius: 15px;
}

.levelBar a, .displayBar div {
	text-decoration: none;
	color: #2d093d;
}

.levelBar div.gapfiller:nth-of-type(1){
	background-color: #ebad00;
}

.levelBar a#level1 {
	z-index:5;
}

.levelBar a#level2 {
	z-index:4;
	left:-18px;
}

.displayBar div {
	width:73px;
	float:left;
	
	line-height: 30px;
	text-align: center;
		
	position:relative;
	padding-left: 5px;
	padding-right:5px;
}

.displayBar div.prog {
	background-color: #6BA337 !important;
	width:500px;
	position: absolute;
	height:30px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	margin:0;
	padding:0;
}

.displayBar div.prog .end {
	position: relative;
	display: block;
	background-color: #ebad00;
	float:right;
	height:30px;
	border-radius: 0px 15px 15px 0px;
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-topright:15px;
	
	width:30px;
}

.displayBar div.prog, .displayBar div.prog .end {
   -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.1), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	box-shadow: 0 0px 0px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.1), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 0px 0px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.1), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 0px 0px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.1), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

}

.levelBar a#level1.selected {
	background-color: #6BA337 !important;
	z-index:5;
}

.domains a.selected {
	background-color: #c41201 !important;
}

.levelBar a#level2.selected {
	background-color: #ebad00;
	z-index:4;
	left:-18px;
}


.levelBar a#level3.selected {
	background-color: #046feb;
}

.levelBar a#level3 {
	float:right;
	z-index:1;
	top:-30px;
}

.boldText {
	font-weight: bold;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

#addContentContainer table {
	margin-left: auto;
	margin-right: auto;
	width:600px;
}

.domains {
	margin-left: auto;
	margin-right: auto;
	width: 390px;
	clear:both;
	height: 90px;
}

.domains a {
	text-decoration: none;
	color: #2d093d;
	display: block;
	width: 50px;
	height: 50px;
	float:left;
	background: #c3c7cc;
	margin:7px;
	
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	line-height: 140px;
}

.domains a.psychomotor {
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images/blocks.png);
}

.domains a.cognitive {
	background-repeat: no-repeat;
	background-position: center 20px;
	background-image: url(../images/info.png);
}

.domains a.affective {
	background-repeat: no-repeat;
	background-position: center 20px;
	background-image: url(../images/cog.png);
}

.domains a:hover, .domainHover {
	background-color: #9fa2a8 !important;	
}

span.tag {
	font-size: 10pt;
	padding:5px;
	padding-right:5px;
	margin-right:5px;
	background-color: #C9C9C9;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;	
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	
	float: left;
}

span.tag a {
	opacity:0.4;
}

span.tag a:hover {
	opacity:1;
}


span.tag img {
	vertical-align: sub;
}

#tagContainer {
	width:100%;
}

#addNewTags {
	float: left;
	margin-top:10px;
	clear:both;
	text-align: left;
}

#addNewTags img {
	vertical-align: bottom;
}

img {
	border: 0;
}

.compareItem {
	color: #393939;
	height:150px;
	width: 80%;
	background-color: #C9C9C9;
	border:dashed 5px #545454;
	-moz-border-radius-topleft: 25px;
	-moz-border-radius-topright:24px;
	-moz-border-radius-bottomleft:24px;
	-moz-border-radius-bottomright:24px;
	-webkit-border-top-left-radius:25px;
	-webkit-border-top-right-radius:24px;
	-webkit-border-bottom-left-radius:24px;
	-webkit-border-bottom-right-radius:24px;
	border-top-left-radius:25px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
	margin-left: auto;
	margin-right: auto;
    
}

.compareItem span {
	height:100%;
	line-height: 150px;
}

.populatedCompare {
	border: 5px solid;
}

.draggableHoverActive, #compareContainer.reviewCompare .smallCompare:hover {
	background-color: #939393 !important;
}

.smallCompare {
	color: #393939;
	width: 220px;
	background-color: #C9C9C9;
	border:solid 1px #545454;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	float:left;
	text-align: center;
	padding:5px;
	cursor: move;
	margin-right:10px;
	margin-bottom:10px;
}

.smallCompare .description {
	display: block;
	height: 20px;
}

#searchContainer {
	margin-top:20px;
	margin-bottom:10px;
	
	height:200px;
	width:100%;
	overflow-y: scroll;
}

.comparisonItem {
	text-align: left;
	padding:10px;
	/*margin-top:20px;*/
	margin-left:10px;

}

.comparisonItem span {
	line-height: 30px;
}

span.new {
	font-style: italic;
	font-weight: bold;
	color: #ff0a1b;
	vertical-align: super;
	font-size: 9pt;
}

div.note {
	border-color: #647ba6;
	border-width: 1px;
	border-style: dashed;
	padding:5px;
	margin:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

div.smallinfo {
	font-size: 9pt;
}

p.smallinfo {
	font-size:9pt;
	line-height: 9pt;
}

#levelInfoContainer {
	height:50px;
}

#levelInfoContainer .ui-effects-wrapper {
	width:390px !important;
}

.barHolder {
	margin:10px;
}

.barHolder .pbar, .progressPopup .pbar {
	clear:both;
	height:12px;
	background: #e4dfdf;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: inset 0 2px 5px #b8b4b4;
	box-shadow: inset 0 2px 5px #b8b4b4;
	-moz-box-shadow: inset 0 2px 5px #b8b4b4;
	clear:both;
	margin-left:auto;
	margin-right:auto;
}

.progressPopup .pbar {
	margin-left:10px;
}

.barHolder .progress, .progressPopup .progress {
	float:left;
	height:12px;
	background: #0072cf;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: inset 0 -3px 5px #004c8a;
	box-shadow: inset 0 -3px 5px #004c8a;
	-moz-box-shadow: inset 0 -3px 5px #004c8a;
	margin:none !important;
	padding:none !important;
}

.barHolder .breadcrumb, .barHolder .breakdowncrumb {
	-webkit-padding-start: 0px;
	padding-left:0px;
	display:block;
	padding:none;
	text-align: center;
	height:10px;
}

.barHolder .breadcrumb li, .barHolder .breakdowncrumb li {
	display:block;
	float:left;
	font-size: 8pt;
	width:16.6%;
}

.barHolder .breakdowncrumb li {
	font-size:10pt;
	width:33%;
}

.barHolder .breadcrumb li.selected, .barHolder .breakdowncrumb li.selected {
	color: #e4490d;
	font-size: 10pt;
	line-height: 8pt;
}

.barHolder .breakdowncrumb li.selected {
	line-height:11pt;
}


h2 a {
	color: #688dbd;
	text-decoration: none;
}

.vidControls .control {
	float:left;
	width:50px;
	text-align: center;
	margin-right:10px;
}

.vidControls .control img {
	display:block;
}

.vidControls .control span {
	font-size: 8pt;
}

.saveConfirmation {
	border-color: #ff5004;
	border-style: dashed;
	border-width: 1px;
	background-color: #ff9000;
	color: black;
	margin:10px;
	border-radius:10px;
	padding:20px;
}

.progressPopup {
	position: absolute;
	width:200px !important;
	border: 5px solid #ebad00;
	background: white;
	border-radius: 5px;
	display: none;
	text-align: left;
	padding:5px;
	color: black;
	z-index: 9999;
}

.progressPopup div {
	padding:0px !important;
	width: auto;
}

.progressPopup h4 {
	margin-top:0px;
	text-align: left;
	margin-bottom:3px;
}

.ui-datepicker {
	z-index: 999 !important;
}