<div id="addContentContainer">
	<div class="metadata">
		<form class="reviewForm" id="reviewForm-{reviewFormId}" onsubmit='return false'>
			<h2>Title: {title}</h2>
			<h3>Date: {date}</h3>
			<h3>Uploader: {learner}</h3>
			<div class="video" id="player-{reviewFormId}">	
			</div>
			<!--NONARCHIVE-->
			<div class="vidControls">
				<div class="control">
					<a class="playButton" href="#" onclick="InStep.players['mpl_{reviewFormId}'].sendEvent('PLAY'); return false;"><img src="{include-url}presentation/images/player/play.png" alt="Play" /></a>
					<span>Play</span>
				</div>
				<div class="control">
					<a class="rewindButton" href="#" onclick="InStep.players['mpl_{reviewFormId}'].sendEvent('SEEK', 0); return false;"><img src="{include-url}presentation/images/player/rewind.png" alt="Rewind" /></a>
					<span>Rewind</span>
				</div>
				<div class="control">				
					<a class="pauseButton" href="#" onclick="InStep.players['mpl_{reviewFormId}'].sendEvent('PLAY'); return false;"><img src="{include-url}presentation/images/player/pause.png" alt="Pause" /></a>
					<span>Pause</span>
				</div>
				<div class="control">
					<a class="stopButton" href="#" onclick="InStep.players['mpl_{reviewFormId}'].sendEvent('STOP'); return false;"><img src="{include-url}presentation/images/player/stop.png" alt="Stop" /></a>
					<span>Stop</span>
				</div>
				<div class="control">
					<a class="volumeUpButton" href="#" onclick="InStep.players['mpl_{reviewFormId}'].sendEvent('VOLUME', mpl_{reviewFormId}_volume + 10); return false;"><img src="{include-url}presentation/images/player/plus.png" alt="Increase Volume" /></a>
					<span>Volume Up</span>
				</div>
				<div class="control">
					<a class="volumeDownButton" href="#" onclick="InStep.players['mpl_{reviewFormId}'].sendEvent('VOLUME', mpl_{reviewFormId}_volume - 10); return false;"><img src="{include-url}presentation/images/player/minus.png" alt="Decrease Volume" /></a>	
					<span>Volume Down</span>
				</div>
			</div>
			<!--/NONARCHIVE-->
			<input type="hidden" name="review-asset_id" id="review-asset_id" value="{asset_id}" />
			<table>
				<tr>
					<td>Activity</td>
					<td>{activity}</td>
				</tr>
				<tr>
					<td>Level</td>
					<td>
						{displayLevel}
					</td>
				</tr>
				<tr>
					<td>Notes</td>
					<td>
						{notes}
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<script type='text/javascript'>
$(document).ready(function(){
	var so{reviewFormId} = new SWFObject('{include-url}/presentation/flash/player.swf','mpl_{reviewFormId}','400','200','9');
	so{reviewFormId}.addParam('allowfullscreen','true');
	so{reviewFormId}.addParam('allowscriptaccess','always');
	so{reviewFormId}.addParam('wmode','opaque');
	so{reviewFormId}.addVariable('file','{href}');
	so{reviewFormId}.addVariable('image', '{thumbnail}');
	so{reviewFormId}.write('player-{reviewFormId}');
	
	var mpl_{reviewFormId}_volume = 80;
});

</script>