<h1>Compare Recordings</h1>
<table class='compareSelector'>
	<tr>
		<th>Left</th>
		<th>Right</th>
	</tr>
	<tbody>
		{rows}
	</tbody>
</table>
<button id='compare'>Compare</button>
<script type="text/javascript">
	$("table.compareSelector input").bind("change", function() {
		var side = $(this).parent().index();
		console.log(side);
		if(side == 1) {
			side = "first";
		} else {
			side = "last";
		}
		console.log(side);
		$("table.compareSelector tr td:"+side+"-child input").removeAttr("disabled").parent().removeClass("disabled");
		$(this).parent().siblings().find("input").attr("disabled", "disabled").parent().addClass("disabled");
	});
	
	$("#compare").bind("click", function() {
		var left = $("input:radio[name=left]:checked").val();
		var right = $("input:radio[name=right]:checked").val();
		window.location.href = left+"-"+right;
	});
</script>